html::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #222222;
}

.app-wrapper {
  max-width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "sidebar content";
  row-gap: 10px;
  column-gap: 10px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.mainContent {
  grid-area: content;
}

.content {
  max-width: 1000px;
}

/* Header */
.header {
  max-width: 1200px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 2;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
}